[submodule "part3repo"]
	path = part3repo
	url = https://github.com/Troubluson/fullstack_part3.git
	branch = "master"
[submodule "part4repo"]
	path = part4repo
	url = https://github.com/Troubluson/Fullstack_part4.git
	branch = "master"
